NEXT_PUBLIC_SITE_URL=https://mustafa-canvas.vercel.app
NEXT_PUBLIC_SUPABASE_URL=https://jftlebyiylxjzrhphqzr.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
ADMIN_PASSWORD=
GOOGLE_SITE_VERIFICATION=
